# Python
__pycache__/
*.pyc
*.pyo
*.pyd
ingestion/test.ipynb
testing.ipynb

# Environment
.env

# IDE
.idea/

# Git
.git/

# Database
.chroma_db
database/chat_store.sqlite3
database/ky_gauges.db

# Local data
gazetteer/
kentucky-260404.osm.pbf
